* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Tahoma;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

#sectionHeaderBlue {
  background-color: #1c5fa8 !important;
  color: white !important;

  padding: 30px 50px !important;
}

#sectionHeaderBlue h6 {
  margin: 0 !important;
  padding: 0 !important;
  font-weight: bold !important;
}

#sectionHeaderBlue p {
  font-size: 12px;
}

#sectionHeaderBlue #titleSection {
  font-size: 15px;
}

.link-select {
  color: #1c5fa8 !important;
}

.link-select:hover {
  color: #ffd700 !important;
}

.buttonSection {
  border: 1px solid white;
  padding: 1vw;
  background-color: #1c5fa8;
  color: white;
  border-radius: 7px;
  font-size: 12px;
  transition: 0.5s;
}

.buttonSection:hover {
  background-color: #ffd700;
  color: #1c5fa8;
}

.hrStyles {
  width: 3vw;
  border: 2px solid #1c5fa8;
  opacity: 1;
  margin-bottom: 0;
  margin-top: 0;
}

.sectionSobre {
  background-color: #f4f4f4 !important;
  color: #000 !important;

  padding: 30px 50px !important;

}

.hrStylesContatos {
  width: 3vw;
  border: 2px solid #ffd700;
  opacity: 1;
  margin-bottom: 0;
  margin-top: 0;
}

.section-servicos {
  text-align: center;
}

.section-servicos p {
  padding: 0 15%;
  font-size: 15px;
}

.section-servicos img {
  border-radius: 10px;
}

.sectionContatoBlue {
  background-color: #1c5fa8 !important;
  color: white !important;
  padding: 30px 50px !important;
}

.sectionContatoBlue label {
  color: #ffd700 !important;
  font-size: 12px !important;
}


footer {
  border-top: 1px solid white;
  background-color: #1c5fa8;
  color: #fff;
  padding: 20px;
}

.service-item {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.service-item img {
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.service-item:hover img {
  transform: scale(1.1);
  border: 8px solid #1c5fa8;
}

/* 
Cores defaults do site para utilização

white: #fff
blue: #1c5fa8
yelow: #ffd700
gray: #f4f4f4
*/

/*
para fontes

black: #000
gray: #212529
gray: #333
*/